/**********************************************************************/
/***                         Imported fonts                         ***/
/**********************************-***********************************/


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Waiting+for+the+Sunrise&display=swap');


/**********************************************************************/
/***                      Reusable Components                       ***/
/**********************************-***********************************/

.disabled {
    display: none;
}

.no-decoration {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.dark-blue {
    color: #0665a2;
}

.light-yellow {
    color: #fff2cc; /* #ffe088;*/
}

.medium-light-yellow {
    color: #ffe9aa;
}

.medium-yellow {
    color: #ffd459;
}

.light-orange {
    color: #ffca88;
}

.btn {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    border-radius: 0.7rem;
    width: 18rem;
    height: 4rem;
    transition: all 0.3s;
}

.btn-flat-light {
    background: #fff2cc;
    color: #ff8d66;
    border: 0.3rem solid #fff2cc;
    transition: all 0.25s;
}

.btn-flat-light:hover {
    background: #ffe9aa;
    border: 0.3rem solid #ffe9aa;
    transition: all 0.3s;
}

.btn-flat-light:active {
    background: transparent;
    transition: all 0.3s;
}

.btn-flat-orange {
    background: #ffb659;
    color: #fff2cc;
    border: 0.3rem solid #ffb659;
    transition: all 0.25s;
    overflow: hidden;
}

/* .btn-flat-orange:hover {
    background: #fff2cc;
    color: #ffb659;
    border: 0.3rem solid #ffe9aa;
    transition: all 0.3s;
}

.btn-flat-orange:active {
    background: #ff9003;
    color: #fff2cc;
    transition: all 0.3s;
} */

.ripple {
    /* position: absolute; */
    width: 0;
    height: 0;
    background-color: #ffe9aa;
    color: #ffb659;
    border-radius: 0.7rem;
    transform: translate(-50%, -50%);
    animation: rippleAnimation 0.5s forwards;
}

@keyframes rippleAnimation {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 210%;
        height: 210%;
    }
}

.hide-menu {
    display: none;
}

.hide-toggler {
    display: grid;
}


/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/


html {
    font-size: 62.5%;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
}

.container-modal-email,
#modal-email-container {
    background: rgba(12, 18, 44, 0.9);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0rem;
    left: 0rem;
    display: none;
    grid-template-columns: 7.3% 85% 7.7%;
                grid-template-areas:
        ". . ."
        ". email-modal ."
        ". . .";
    grid-template-rows: 15% 70% 15%;
    place-content: center center;
    transition: all 0.3s;
    z-index: 10;
}

.container-navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 5% max-content max-content auto 5%;
    grid-template-areas:
        ". brand title menu .";
    grid-template-rows: 6.5rem;
    background: transparent;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    transition: all 0.3s;
    z-index: 15;
}

.container-navbar-mobile {
    position: fixed;
    display: none;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas:
        ". menu .";
    grid-template-rows: max-content;
    background-color: rgba(15, 133, 209, 0.9);
    color: #0c122c;
    width: 100%;
    top: 6.5rem;
    padding: 0rem;
    margin: 0rem;
    transition: all 0.3s;
    z-index: 15;
}

.container-main {
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "about"
        "destinations"
        "footer";
    grid-template-rows: repeat(4, min-content);
    background-color: #f2f0e5;
    width: 100%;
    top: 0;
    z-index: 1;
}

.container-header {
    grid-area: header;
    background-image: linear-gradient(rgba(133, 196, 237, 0.8), rgba(133, 196, 237, 0.8)), url("../img/antique-binoculars-and-map.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas:
        ". . ."
        ". hero ."
        ". hero ."
        ". hero ."
        ". . .";
    grid-template-rows: 15% 21.75% 22% 31.75% 10%;
}

.container-about {
    grid-area: about;
    background: rgba(128, 240, 186, 0.3);
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas:
        ". about-img ."
        ". about-hdr ."
        ". about-txt ."
        ". about-btn .";
    grid-template-rows: repeat(4, max-content);
    padding: 5rem 0rem;
}

.container-main-destinations {
    grid-area: destinations;
    background-image: linear-gradient(rgba(6, 101, 162, 0.6), rgba(6, 101, 162, 0.6)), url("../img/flatlay-of-travel-essentials.jpg");
    background-size: cover;
    background-position: center;
    height: 75vh;
    background-attachment: fixed;
    top: 0rem;
    left: 0rem;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas:
        ". dest-hdr ."
        ". dest-txt ."
        ". dest-btn .";
    grid-template-rows: 25% 50% 25%;
}

.container-footer {
    width: 100%;
    background: rgba(255, 141, 102, 0.85);
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "start"
        "middle"
        "end"
        "copy";
    grid-template-rows: repeat(5, max-content);
}


/**********************************************************************/
/***                          Modal Email                           ***/
/**********************************-***********************************/

.modal-email-box,
#modal-email-box {
    grid-area: email-modal;
    background: rgba(242, 240, 229, 0.9);
    display: none;
    grid-template-columns: 100%;
    grid-template-areas:
        "img-modal"
        "txt-modal"
        "btn-modal";
    grid-template-rows: 39.5% 41% 19.5%;
    border: 0.3rem solid #15313a;
    border-radius: 1.5rem;
    box-shadow: 0.45rem 0.45rem 0.6rem #beb580;
    overflow: hidden;
    place-self: center;
    transition: all 0.3s;
    margin-bottom: 2.5rem;
    z-index: 15;
}

.modal-email-img {
    grid-area: img-modal;
    border-bottom: 0.3rem solid #15313a;
    overflow: hidden;
}

.modal-email-img img {
    width: 100%;
}

.modal-email-txt {
    grid-area: txt-modal;
    place-self: center center;
}

.modal-email-txt p {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: justify;
    margin: 0rem 1.3rem;
}

.modal-email-btn {
    grid-area: btn-modal;
    place-self: start center;
}


/**********************************************************************/
/***                             Navbar                             ***/
/**********************************-***********************************/

.sticky-navbar {
    top: 0;
    background: rgba(88, 172, 227, 0.9);
    color: #fff2cc;
    transition: all 0.3s;
}

.sticky-navbar a {
    color: #fff2cc;
}

.navbar-brand {
    grid-area: brand;
    justify-self: center;
    align-self: center;
    font-size: 100%;
    padding: 0rem;
    margin: 0rem;
    transition: all 0.3s;
}

.navbar-title {
    grid-area: title;
    font-family: 'Waiting for the Sunrise', sans-serif;
    font-weight: 400;
    justify-self: start;
    align-self: center;
}

.navbar-title span {
    font-size: 350%;
    font-weight: 600;
}

.navbar-menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6.5rem;
    height: 6.5rem;
    justify-items: end;
    align-items: center;
}

.navbar-menu-list {
    list-style: none;
    display: inline-flex;
    align-items: center;
    padding: 0rem;
    margin: 0rem;
}

.navbar-menu-item {
    margin-left: 1.7rem;
}

.navbar-menu-link {
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar-menu-link:active {
    color: rgba(255, 212, 89, 0.6);
    transition: color 0.25s;
}

.navbar-toggler {
    font-size: 330%;
    padding: 0rem;
    margin: 0rem;
}


/**********************************************************************/
/***                         Mobile Navbar                          ***/
/**********************************-***********************************/

.sticky-navbar-mobile {
    transition: all 0.255s cubic-bezier(1, 0, 0, 1);
}

.navbar-mobile {
    grid-area: menu;
}

.navbar-mobile-list {
    list-style: none;
    display: block;
    align-items: center;
    padding: 0rem;
    margin: 1.5rem 0rem;
}

.navbar-mobile-item {
    margin-bottom: 0.7rem;
}

.navbar-mobile-link {
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 0.255s cubic-bezier(1, 0, 0, 1);
}

.navbar-mobile-link:hover {
    color: #ffd459;
}

.navbar-mobile-link:active {
    color: rgba(255, 212, 89, 0.6);
    transition: color 0.255s cubic-bezier(1, 0, 0, 1);
}


/**********************************************************************/
/***                             Header                             ***/
/**********************************-***********************************/

.header-hero {
    grid-area: hero;
    background: rgba(52, 153, 219, 0.7);
    border-radius: 0.7rem;
    height: 65vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "heading"
        "inspire"
        "buttons";
    grid-template-rows: 25% 30% 50%;
    place-self: center center;
    padding: 0.75rem;
}

.header-hero-heading {
    grid-area: heading;
    align-self: center;
}

.header-hero-heading h1 {
    font-size: 456%;
    font-weight: 700;
    text-align: center;
    margin: 0rem;
}

.header-hero-inspiration {
    grid-area: inspire;
    justify-self: center;
    align-self: center;
}

.header-hero-inspiration figure {
    margin: 1rem 0rem;
}

.header-hero-inspiration blockquote {
    font-size: 3.0rem;
    font-weight: 700;
    text-align: center;
    justify-self: center;
    margin: 0rem 0rem;
}

.header-hero-inspiration blockquote p {
    justify-self: center;
    margin: 0rem;
}

.header-hero-inspiration blockquote p i {
    font-size: 1rem;
}

.header-hero-inspiration figcaption {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0.9rem 0rem;
}

.header-hero-buttons {
    grid-area: buttons;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "btn-1"
        "btn-2"
        "btn-3";
    grid-template-rows: repeat(3, max-content);
    grid-row-gap: 0.5rem;
    place-items: center center;
}

.btn-1 {
    grid-area: btn-1;
}

.btn-2 {
    grid-area: btn-2;
}

.btn-3 {
    grid-area: btn-3;
}

.header-hero-btn {
    justify-self: center;
    margin-bottom: 0.9rem;
    transition: background 0.25s;
}


/**********************************************************************/
/***                           About Us                             ***/
/**********************************-***********************************/

.about-image {
    grid-area: about-img;
    place-self: center center;
    margin-bottom: 2rem;
}

.about-image img {
    box-shadow: 0.5rem 0.5rem 0.6rem #003a1e;
    width: 340px;
    height: 510.17px;
}

.about-title {
    grid-area: about-hdr;
    place-self: center center;
}

.about-title h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
}

.about-description {
    grid-area: about-txt;
}

.about-description p {
    font-size: 1.8rem;
    text-align: justify;
    margin: 1rem 1rem 1.3rem 1rem;
}

.about-button {
    grid-area: about-btn;
    justify-self: center;
    margin-top: 2rem;
    transition: background 0.25s;
}


/**********************************************************************/
/***                          Destinations                          ***/
/**********************************-***********************************/

.destinations-title {
    grid-area: dest-hdr;
    place-self: end center;
}

.destinations-title h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3.7rem;
    font-weight: 700;
    text-align: center;
    margin: 0rem;
}

.destinations-description {
    grid-area: dest-txt;
    align-self: center;
}

.destinations-description p {
    font-size: 1.8rem;
    text-align: justify;
    margin: 0rem 1rem;
}

.destinations-button {
    grid-area: dest-btn;
    place-self: start center;
}

.destinations-btn {
    width: 24rem;
    transition: background 0.25s;
    /* margin-top: 1.5rem; */
}


/**********************************************************************/
/***                             Footer                             ***/
/**********************************-***********************************/

.footer-start {
    grid-area: start;
    justify-self: center;
    align-self: center;
    margin-top: 4rem;
}

.footer-menu {
    padding: 0rem;
    margin: 0rem;
}

.footer-menu-item {
    list-style: none;
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.6rem;
}

.footer-menu-link:hover {
    color: #ffd459;
    transition: color 0.25s;
}

.footer-menu-link:active {
    color: rgba(255, 212, 89, 0.6);
    transition: color 0.25s;
}

.footer-middle {
    grid-area: middle;
    justify-self: center;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "social"
        "news"
        "input"
        "button";
    grid-template-rows: repeat(4, max-content);
}

.footer-social {
    grid-area: social;
}

.footer-social-list {
    text-align: center;
    padding: 0rem;
    margin: 0rem;
}

.footer-social-items {
    list-style: none;
    display: inline;
    justify-self: center;
    padding: 0rem;
    margin: 0rem;
}

.footer-social-icon {
    transition: color 0.25s;
}

.footer-social-icon:hover {
    color: #ffd459;
    transition: color 0.25s;
}

.footer-social-icon:active {
    color: rgba(255, 212, 89, 0.6);
    transition: color 0.25s;
}

.footer-social-icon {
    font-size: 280%;
    margin: 0rem 0.65rem;
}

.footer-newsletter {
    grid-area: news;
    margin-top: 1.5rem;
}

.footer-newsletter-label {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0.9rem;
}

.footer-input {
    grid-area: input;
    align-self: center;
}

.footer-input-form input {
    word-spacing: 0rem;
    align-items: flex-end;
    padding: 0rem;
}

.footer-input-email {
    font-size: 1.4rem;
    background-color: transparent;
    border: 0.3rem solid #fff2cc;
    width: 22rem;
    height: 2.4rem;
    border-radius: 0.7rem 0rem 0rem 0.7rem;
}

.footer-input-email::placeholder {
    color: rgba(255, 242, 204, 0.7);
    padding: 0rem 0.6rem;
}

.footer-input-btn {
    border-radius: 0rem 0.7rem 0.7rem 0rem;
    width: 8.1rem;
    height: 3rem;
    transition: background-color 0.25s;
}

.footer-button {
    grid-area: button;
    justify-self: center;
}

.footer-button-btn {
    width: 14rem;
    height: 2.9rem;
    padding: 0rem;
    margin-top: 0.9rem;
    transition: background 0.25s;
}

.footer-end {
    grid-area: end;
    align-self: center;
    margin-top: 3rem;
}

.footer-end-list {
    text-align: center;
    line-height: 1.85rem;
    padding: 0rem;
    margin: 0rem 0.7rem;
}

.footer-end-items {
    font-size: 1.6rem;
    font-weight: 700;
    list-style: none;
}

.footer-copyright {
    grid-area: copy;
    text-align: center;
    margin-top: 1.7rem;
}

.footer-copyright-text {
    font-size: 1.6rem;
    margin-bottom: 1.7rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  screen and (min-height: 653px) and (max-height: 668px) and (max-width: 376px)  ****/

@media only screen and (min-height: 653px) and (max-height: 668px) and (max-width: 376px) {
    /****************/
    /***  Header  ***/
    /****************/

    .header-hero-heading h1 {
        font-size: 409%;
    }

    .header-hero-inspiration blockquote {
        font-size: 2.6rem;
    }

    .header-hero-inspiration figcaption {
        font-size: 2.1rem;
    }
}
/****  /screen and (min-height: 653px) and (max-height: 668px) and (max-width: 376px)  ****/


/****  screen and (max-width: 361px)  ****/

@media screen and (max-width: 361px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-main-destinations {
        height: 100vh;
        grid-template-rows: 25% 55% 20%;
    }

    /***********************/
    /****  Email Modal  ****/
    /***********************/

    .modal-email-box,
    #modal-email-box {
        grid-template-rows: 37.5% 45% 22.5%;
    }

    /****************/
    /***  NAVBAR  ***/
    /****************/

    .navbar-brand {
        font-size: 95%;
    }

    .navbar-title span {
        font-size: 330%;
        font-weight: 600;
    }

    .navbar-toggler {
        font-size: 310%;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .header-hero-heading h1 {
        font-size: 341%;
    }

    .header-hero-inspiration blockquote {
        font-size: 2.3rem;
    }

    .header-hero-inspiration figcaption {
        font-size: 1.9rem;
    }

    /***************/
    /***  ABOUT  ***/
    /***************/

    .about-image img {
        width: 290px;
        height: 435.15px;
    }

    .about-description p {
        margin: 1rem 1rem 1.3rem 1rem;
    }

    /****************/
    /***  FOOTER  ***/
    /****************/

    .footer-input-form input {
        justify-content: center;
    }

    .footer-input-email {
        width: 19rem;
        height: 2.4rem;
    }
}
/****  /screen and (max-width: 361px)  ****/


/****  screen and (min-width: 576px)  ****/

@media screen and (min-width: 576px) {
    /****************/
    /***  HEADER  ***/
    /****************/

    .header-hero-buttons {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "btn-1 btn-2 btn-3";
        grid-template-rows: max-content;
    }

    .header-hero-btn {
        margin: 0rem 0.45rem;
    }

    /**************/
    /**  FOOTER ***/
    /**************/

    .container-footer {
        grid-template-columns: 20% 60% 20%;
        grid-template-areas:
            "start middle end"
            ". copy .";
        grid-template-rows: repeat(2. max-content);
    }

    .footer-start {
        justify-self: end;
    }

    .footer-end {
        justify-self: start;
    }
}
/****  /screen and (min-width: 576px)  ****/


/****  /screen and (min-width: 768px)  ****/

@media screen and (min-width: 768px) {
    /*********************/
    /***  Basic Setup  ***/
    /*********************/

    .container-modal-email,
    #modal-email-container {
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 20% 60% 20%;
    }

    .container-header {
        grid-template-columns: 10% 80% 10%;
        grid-template-areas:
            ". . ."
            ". hero ."
            ". hero ."
            ". hero ."
            ". . .";
        grid-template-rows: 10% repeat(3, 26.66%) 10%;
    }

    .container-about {
        grid-template-columns: 10% 80% 10%;
    }

    .container-main-destinations {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 35% 30% 35%;
        height: 55vh;
    }

    .container-destinations {
        grid-template-columns: 10% 80% 10%;
        height: 40vh;
    }

    .container-footer {
        grid-template-columns: 22.5% 55% 22.5%;
    }

    /***********************/
    /****  Email Modal  ****/
    /***********************/

    .modal-email-txt p {
        font-size: 1.5rem;
        margin: 0rem 1.5rem;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .header-hero {
        width: 100%;
        height: 30%;
        grid-template-rows: 30% 35% 30%;
        place-self: center center;
        padding: 1rem;
    }

    .header-hero-heading {
        margin: 0rem;
    }

    .header-hero-heading h1 {
        font-size: 480%;
        margin: 0rem;
    }

    .header-hero-inspiration {
        margin: 0rem;
    }

    .header-hero-inspiration blockquote {
        font-size: 2.5rem;
    }

    .header-hero-inspiration figcaption {
        font-size: 1.8rem;
    }

    .header-hero-buttons {
        grid-template-columns: repeat(3, max-content);
        grid-template-areas:
            "btn-1 btn-2 btn-3";
        grid-template-rows: max-content;
        grid-column-gap: 1.5rem;
        grid-row-gap: 0rem;
        place-items: center center;
    }

    .header-hero-btn {
        margin: 0rem;
    }

    /**********************/
    /***  DESTINATIONS  ***/
    /**********************/

    .destinations-title h1 {
        margin: 0rem ;
    }

    .destinations-btn {
        margin-top: 0rem;
    }

    /**************/
    /**  FOOTER ***/
    /**************/

    .container-footer {
        grid-template-columns: 20% 60% 20%;
        grid-template-areas:
            "start middle end"
            ". copy .";
        grid-template-rows: repeat(2. max-content);
    }

    .footer-copyright {
        margin-top: 0rem;
    }
}
/****  /screen and (min-width: 768px)  ****/


/****  /screen and (min-width: 1024px)  ****/

@media screen and (min-width: 1024px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-modal-email,
    #modal-email-container {
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 30% 40% 30%;
    }

    .container-header {
        grid-template-columns: 15% 70% 15%;
        grid-template-areas:
            ". . ."
            ". hero ."
            ". hero ."
            ". hero ."
            ". . .";
        grid-template-rows: 10% repeat(3, 26.66%) 10%;
    }

    .container-about {
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-areas:
            ". about-img about-hdr ."
            ". about-img about-txt ."
            ". about-img about-btn .";
        grid-template-rows: 10% 80% 10%;
    }

    .container-destinations {
        grid-template-columns: 15% 70% 15%;
        height: 40vh;
    }

    /*****************************/
    /***  Reusable Components  ***/
    /*****************************/

    .hide-toggler {
        display: none;
    }

    .hide-menu {
        display: grid;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .header-hero {
        grid-template-rows: 30% 35% 30%;
    }

    .header-hero-heading h1 {
        font-size: 480%;
    }

    .header-hero-buttons {
        grid-template-columns: repeat(3, max-content);
        grid-template-areas:
            "btn-1 btn-2 btn-3";
        grid-template-rows: max-content;
        grid-column-gap: 1.5rem;
        grid-row-gap: 0rem;
        place-items: center center;
    }

    .btn-3 {
        display: grid;
        align-items: center;
    }

    /***************/
    /***  ABOUT  ***/
    /***************/

    .about-image {
        place-self: center start;
        margin: 0rem;
    }

    .about-description {
        align-self: center;
    }

    .about-description p {
        margin: 1rem 0rem;
    }

    .about-button {
        align-self: center;
        margin-top: 0rem;
    }

    /**********************/
    /***  DESTINATIONS  ***/
    /**********************/

    .destinations-description p {
        font-size: 2.2rem;
    }
}
/****  /screen and (min-width: 1024px)  ****/


/****  /screen and (min-width: 1200px)  ****/

@media screen and (min-width: 1200px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-header {
        grid-template-columns: 15% 70% 15%;
    }

    .container-destinations {
        height: 55vh;
    }

    /****************/
    /***  Header  ***/
    /****************/

    .header-hero {
        width: 80%;
        height: 42.5%;
    }

    /***************/
    /***  ABOUT  ***/
    /***************/

    .container-about {
        grid-template-columns: 15% 35% 35% 15%;
        grid-template-rows: 10% 80% 10%;
    }

    /**********************/
    /***  DESTINATIONS  ***/
    /**********************/

    .destinations-title h1 {
        font-size: 3.7rem;
    }

    .destinations-description p {
        font-size: 1.8rem;
    }
}
/****  /screen and (min-width: 1200px)  ****/


/****  /screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-modal-email,
    #modal-email-container {
        grid-template-columns: 37% 24% 37%;
        grid-template-rows: 30% 40% 30%;
    }

    /****************/
    /***  Header  ***/
    /****************/

    .container-header {
        grid-template-columns: 20% 60% 20%;
    }

    /**********************/
    /***  DESTINATIONS  ***/
    /**********************/

    .destinations-description p {
        font-size: 2rem;
    }
}
/****  /screen and (min-width: 1400px)  ****/


/****  screen and (min-width: 1920px)  ****/

@media only screen and (min-width: 1920px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-modal-email,
    #modal-email-container {
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 30% 40% 30%;
    }
}
/****  /screen and (min-width: 1920px)  ****/


/****  screen and (min-width: 2560px)  ****/

@media only screen and (min-width: 2560px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-modal-email,
    #modal-email-container {
        grid-template-columns: 43% 16% 43%;
        grid-template-rows: 30% 40% 30%;
    }
}
/****  /screen and (min-width: 2560px)  ****/
