/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/

.container-modal-contact,
#modal-contact-container {
    background: rgba(16, 24, 177, 0.7);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0rem;
    left: 0rem;
    display: none;
    -ms-grid-columns: 7.3% 85% 7.7%;
    grid-template-columns: 7.3% 85% 7.7%;
        grid-template-areas:
        ". . ."
        ". contact-modal ."
        ". . .";
    -ms-grid-rows: 15% 70% 15%;
    grid-template-rows: 15% 70% 15%;
    place-content: center center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 15;
}

.container-navbar-mobile {
    background-color: rgba(43, 225, 137, 0.95);
}

.container-contact {
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
        grid-template-areas:
        "contact-header"
        "footer";
    -ms-grid-rows: (min-content)[2];
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
    background-color: #f2f0e5;
    width: 100%;
    top: 0;
    z-index: 1;
}

.container-contact-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: contact-header;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(81, 232, 159, 0.7)), to(rgba(81, 232, 159, 0.7))), url("../img/poolside-using-smart-phone.jpg");
    background-image: -o-linear-gradient(rgba(81, 232, 159, 0.7), rgba(81, 232, 159, 0.7)), url("../img/poolside-using-smart-phone.jpg");
    background-image: linear-gradient(rgba(81, 232, 159, 0.7), rgba(81, 232, 159, 0.7)), url("../img/poolside-using-smart-phone.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 90% 5%;
    grid-template-columns: 5% 90% 5%;
        grid-template-areas:
        ". . ."
        ". headr ."
        ". cntct ."
        ". . .";
    -ms-grid-rows: 6% 35% 45% 14%;
    grid-template-rows: 6% 35% 45% 14%;
    justify-items: center;
}


/**********************************************************************/
/***                         Modal Booking                          ***/
/**********************************-***********************************/

.modal-contact-box,
#modal-contact-box {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: contact-modal;
    background: rgba(6, 101, 162, 0.85);
    height: 35vh;
    display: none;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
        grid-template-areas:
        "txt-contact-modal"
        "btn-contact-modal";
    -ms-grid-rows: 75% 25%;
    grid-template-rows: 75% 25%;
    border: 0.3rem solid #9095f0;
    border-radius: 1.5rem;;
    overflow: hidden;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 2.5rem;
    z-index: 20;
}

.modal-contact-txt {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: txt-contact-modal;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center center;
}

.modal-contact-txt p {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: justify;
    margin: 0rem 1.3rem;
}

.modal-contact-btn {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: btn-contact-modal;
    -ms-grid-row-align: start;
    -ms-grid-column-align: center;
    place-self: start center;
}


/**********************************************************************/
/***                             Navbar                             ***/
/**********************************-***********************************/

.sticky-navbar {
    background: rgba(128, 240, 186, 0.975);
}


/**********************************************************************/
/***                         CONTACT HEADER                         ***/
/**********************************-***********************************/

.contact-header {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: headr;
    background: rgba(0, 177, 92, 0.65);
    border-radius: 0.7rem 0.7rem 0rem 0rem;
    align-self: flex-end;
    padding: 0.5rem;
}

.contact-header h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0rem 2rem 0rem;
}

.contact-header p {
    font-size: 1.8rem;
    text-align: justify;
    line-height: 120%;
    padding: 0rem 1rem;
    margin: 0.5rem 0rem 0rem 0rem;
}

.contact-form {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: cntct;
    background: rgba(0, 177, 92, 0.65);
    border-radius: 0rem 0rem 0.7rem 0.7rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
        grid-template-areas:
        "frst"
        "last"
        "phon"
        "mail"
        "cmnt";
    -ms-grid-rows: (min-content)[5];
    grid-template-rows: repeat(5, -webkit-min-content);
    grid-template-rows: repeat(5, min-content);
    text-align: center;
    padding-top: 1rem;
}

.input-contact-defaults {
    background: transparent;
    border: 0.25rem solid #fff2cc;
    border-radius: 0.7rem;
    width: 95%;
    height: 1.95rem;
    margin: 0.3rem 0rem;
}

.input-contact-defaults::-webkit-input-placeholder {
    color: #fff2cc;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    padding: 0rem 0.3rem;
}

.input-contact-defaults::-moz-placeholder {
    color: #fff2cc;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    padding: 0rem 0.3rem;
}

.input-contact-defaults:-ms-input-placeholder {
    color: #fff2cc;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    padding: 0rem 0.3rem;
}

.input-contact-defaults::-ms-input-placeholder {
    color: #fff2cc;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    padding: 0rem 0.3rem;
}

.input-contact-defaults::placeholder {
    color: #fff2cc;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    padding: 0rem 0.3rem;
}

.contact-inputs textarea {
    height: 6rem;
}

.contact-inputs textarea::-webkit-input-placeholder {
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    font-size: 101%;
}

.contact-inputs textarea::-moz-placeholder {
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    font-size: 101%;
}

.contact-inputs textarea:-ms-input-placeholder {
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    font-size: 101%;
}

.contact-inputs textarea::-ms-input-placeholder {
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    font-size: 101%;
}

.contact-inputs textarea::placeholder {
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    font-size: 101%;
}

.contact-inputs-btn {
    margin-top: 0.5rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/

/****  screen and (max-width: 361px)  ****/

@media screen and (max-width: 361px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-contact-header {
        -ms-grid-rows: 15% 30% 50% 5%;
        grid-template-rows: 15% 30% 50% 5%;
    }
}
/****  /screen and (max-width: 361px)  ****/


/****  /screen and (min-width: 768px)  ****/

@media screen and (min-width: 768px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-contact-header {
        -ms-grid-columns: 15% 70% 15%;
        grid-template-columns: 15% 70% 15%;
        -ms-grid-rows: 25% 15% 35% 25%;
        grid-template-rows: 25% 15% 35% 25%;
    }

    .container-contact-header > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(9) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(10) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(11) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(12) {
        -ms-grid-row: 4;
        -ms-grid-column: 3;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .contact-header h1 {
        font-size: 4.1rem;
    }

    .input-contact-defaults {
        height: 2.9rem;
        margin: 0.4rem 0rem;
    }

    .input-contact-defaults::-webkit-input-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults::-moz-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults:-ms-input-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults::-ms-input-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults::placeholder {
        font-size: 1.5rem;
    }

    .contact-inputs textarea {
        height: 8rem;
    }

    .contact-inputs textarea::-webkit-input-placeholder {
        font-size: 1.5rem;
    }

    .contact-inputs textarea::-moz-placeholder {
        font-size: 1.5rem;
    }

    .contact-inputs textarea:-ms-input-placeholder {
        font-size: 1.5rem;
    }

    .contact-inputs textarea::-ms-input-placeholder {
        font-size: 1.5rem;
    }

    .contact-inputs textarea::placeholder {
        font-size: 1.5rem;
    }
}
/****  /screen and (min-width: 768px)  ****/


/****  /screen and (min-width: 1024px)  ****/

@media screen and (min-width: 1024px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-contact-header {
        -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
        -ms-grid-rows: 30% 10% 30% 30%;
        grid-template-rows: 30% 10% 30% 30%;
    }

    .container-contact-header > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(9) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(10) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(11) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(12) {
        -ms-grid-row: 4;
        -ms-grid-column: 3;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .contact-header h1 {
        font-size: 3.9rem;
    }

    .input-contact-defaults {
        height: 2.9rem;
    }

    .input-contact-defaults::-webkit-input-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults::-moz-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults:-ms-input-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults::-ms-input-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults::placeholder {
        font-size: 1.5rem;
    }

    .contact-inputs textarea {
        height: 12rem;
    }
}
/****  /screen and (min-width: 1024px)  ****/


/****  /screen and (min-width: 1200px)  ****/

@media screen and (min-width: 1200px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-contact-header {
        -ms-grid-rows: 20% 15% 50% 15%;
        grid-template-rows: 20% 15% 50% 15%;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .contact-header h1 {
        font-size: 3.9rem;
    }

    .input-contact-defaults {
        height: 2.9rem;
    }

    .input-contact-defaults::-webkit-input-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults::-moz-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults:-ms-input-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults::-ms-input-placeholder {
        font-size: 1.5rem;
    }

    .input-contact-defaults::placeholder {
        font-size: 1.5rem;
    }

    .contact-inputs textarea {
        height: 8rem;
    }
}
/****  /screen and (min-width: 1200px)  ****/


/****  /screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-contact-header {
        -ms-grid-rows: 20% 15% 45% 20%;
        grid-template-rows: 20% 15% 45% 20%;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .contact-inputs textarea {
        height: 12rem;
    }
}
/****  /screen and (min-width: 1400px)  ****/


/****  /screen and (min-width: 1600px)  ****/

@media screen and (min-width: 1600px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-contact-header {
        -ms-grid-columns: 30% 40% 30%;
        grid-template-columns: 30% 40% 30%;
        -ms-grid-rows: 20% 15% 40% 25%;
        grid-template-rows: 20% 15% 40% 25%;
    }

    .container-contact-header > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(9) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(10) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(11) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(12) {
        -ms-grid-row: 4;
        -ms-grid-column: 3;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .contact-inputs textarea {
        height: 14rem;
    }
}
/****  /screen and (min-width: 1600px)  ****/


/****  /screen and (min-width: 1900px)  ****/

@media screen and (min-width: 1900px) {
    /***********************/
    /****  Basic Setup  ****/
    /***********************/

    .container-contact-header {
        -ms-grid-columns: 30% 40% 30%;
        grid-template-columns: 30% 40% 30%;
        -ms-grid-rows: 20% 15% 40% 25%;
        grid-template-rows: 20% 15% 40% 25%;
    }

    .container-contact-header > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(9) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .container-contact-header > *:nth-child(10) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .container-contact-header > *:nth-child(11) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }

    .container-contact-header > *:nth-child(12) {
        -ms-grid-row: 4;
        -ms-grid-column: 3;
    }

    /****************/
    /***  HEADER  ***/
    /****************/

    .contact-inputs textarea {
        height: 10.5rem;
    }
}
/****  /screen and (min-width: 1900px)  ****/
