/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/

.container-bookings {
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "bookings-header"
        "footer";
    grid-template-rows: repeat(2, min-content);
    background-color: #f2f0e5;
    width: 100%;
    top: 0;
    z-index: 1;
}

.container-bookings-header {
    grid-area: bookings-header;
    background-image: linear-gradient(rgba(6, 101, 162, 0.6), rgba(6, 101, 162, 0.6)), url("../img/decorated-chinese-store-front.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-areas:
        ". . ."
        ". heading ."
        ". booking ."
        ". . .";
    grid-template-rows: 10% 35% 45% 10%;
    justify-items: center;
}


/**********************************************************************/
/***                             HEADER                             ***/
/**********************************-***********************************/

.bookings-header {
    grid-area: heading;
    align-self: flex-start;
}

.bookings-header h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0rem 2rem 0rem;
}

.bookings-header p {
    font-size: 1.8rem;
    text-align: justify;
    line-height: 120%;
    margin: 0.5rem 0rem 1.5rem 0rem;
}

.bookings-form {
    grid-area: booking;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "frst"
        "last"
        "phon"
        "mail"
        "dest"
        "from"
        "todt"
        "cmnt";
    grid-template-rows: repeat(8, min-content);
    text-align: center;
    margin-top: 0.3rem;
}

.input-defaults {
    background: transparent;
    border: 0.25rem solid #fff2cc;
    border-radius: 0.7rem;
    width: 26rem;
    height: 1.95rem;
    margin: 0.2rem 0rem;
}

.input-defaults::placeholder {
    color: #fff2cc;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    padding: 0rem 0.3rem;
}

.bookings-inputs textarea {
    height: 3.7rem;
}

.bookings-inputs textarea::placeholder {
    font-family: 'Architects Daughter', sans-serif;
    font-weight: 400;
    font-size: 101%;
}

.bookings-inputs-btn {
    margin-top: 0.5rem;
}
